﻿@page "/music-item-creator"
@using JMWebToolset.Main;
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Music Item Creator</PageTitle>

<div>
    @if (loadingStep == 0)
    {
        <InputFile OnChange="@LoadNBS" />
        <button type="button" class="btn btn-primary" @onclick="ProcessNBS">Обработать NBS</button>
    }
    else if (loadingStep == 1)
    {
        <Loader />
    }
    else
    {
        <Inventory Items=@(items.Cast<JustItem>().ToList()) />
        <!--@foreach (var mi in items) {
            <button type="button" class="btn btn-primary" @onclick="() => CopyNBT(mi)">Скопировать NBT</button>
        }
        <br/>-->
        <button type="button" class="btn btn-primary" @onclick="ClearNBS">Очистить</button>
    }
</div>

@code {
    public List<MusicItem> items = new List<MusicItem>();
    public int loadingStep = 0;
    public MemoryStream stream = new MemoryStream();

    private async void LoadNBS(InputFileChangeEventArgs e)
    {
        stream = new MemoryStream();
        await e.File.OpenReadStream(3000000).CopyToAsync(stream);
        stream.Position = 0;
    }

    private async Task ProcessNBS()
    {
        loadingStep = 1;
        await Task.Delay(1);
        items.Add(new MusicItem(stream));
        items.AddRange(items[0].additionalItems);
        loadingStep = 2;
    }

    public async void CopyNBT(MusicItem mi)
    {
        if (items.Count > 0) 
        {
            await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", mi.id);
        }
    }

    private void ClearNBS()
    {
        items = new List<MusicItem>();
        loadingStep = 0;
    }
}
