﻿@font-face {
    font-family: 'MinecraftGame'; /*a name to be used later*/
    src: url(content/fonts/1_Minecraft-Regular.otf);
}

body {
}

h3 {
    font-family: MinecraftGame;
    -webkit-font-smoothing: none;
}

.inventory {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    border: 24px solid red;
    border-image: url(content/images/ui/inventory_border.png) 6 stretch;
    image-rendering: pixelated;
    background-color: #c6c6c6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

img {
    width: 64px;
    height: 64px;
    margin: 0;
    position: relative;
    top: 4px;
}

#slot {
    background-image: url(content/images/ui/inventory_slot.png);
    background-size: 72px 72px;
    width: 72px;
    height: 72px;
    filter: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    backdrop-filter: none;
}

    button :hover {
        backdrop-filter: brightness(150%);
    }

    button :active {
        backdrop-filter: brightness(120%) sepia(100%) hue-rotate(70deg);
    }

#tooltip {
    position: fixed;
    left: var(--pos-x);
    top: var(--pos-y);
    font-family: MinecraftGame;
    color: white;
    border-radius: 24px;
    border: 12px solid transparent;
    border-image: url(content/images/ui/tooltip_border.png) 3 stretch;
    background-color: #1a0b1a;
    image-rendering: pixelated;
}
