﻿@using JMWebToolset.Main;
@inject HttpClient Http
@inject IJSRuntime JSRuntime
<div class="inventory" @onmousemove="MouseMove">
	<h3>Inventory</h3>
	@if (Items != null)
	{
		<ul>
			@foreach (var ji in Items)
			{
				<li>
					<button type="button" @onclick="() => CopyNBT(ji)">
						<div id="slot">
							<img src=@ji.itemImage draggable="false" class="slot" @onmouseenter="() => MouseEnter(ji)" @onmouseout="MouseOut" />
						</div>
					</button>
				</li>
			}
		</ul>
	}
</div>
@if (tooltipItem != null)
{
	<h4 id="tooltip" style="--pos-x:@tooltipX; --pos-y:@tooltipY;">@tooltipItem.itemId</h4>
}

@code {
	[Parameter]
	public List<JustItem>? Items { get; set; }
	public JustItem? tooltipItem;
	public string tooltipX = "0px";
	public string tooltipY = "0px";

	public async void CopyNBT(JustItem ji)
	{
		if (Items != null)
		{
			if (Items.Count > 0)
			{
				Console.WriteLine(ji.itemImage);
				await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", ji.id);
			}
		}
	}

	public void MouseMove(MouseEventArgs e)
	{
		tooltipX = (e.ClientX + 20).ToString() + "px";
		tooltipY = (e.ClientY + 20).ToString() + "px";
	}

	public void MouseEnter(JustItem ji)
	{
		tooltipItem = ji;
	}

	public void MouseOut()
	{
		tooltipItem = null;
	}
}
